body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
  text-decoration: none;
  font-size: 100px;
  font-weight: 600;
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding-top: 15px;
  padding-left: 40px;
  height: 170px;
}

h4 {
  font-weight: bold;
}

.n {
  transform: skewY(-10deg);
  transform-origin: top;
}

.n:hover {
  color:  rgb(0, 255, 0);
}

.smile-bubble {
  font-size: 175px;
  position: fixed;
  top: 200px;
  left: 10px;
}

.move-bubble {
  position: fixed;
  left: 200px;
}

.nancy-bubble {
  width: 80%;
  height: 100%;
  background:  rgb(0, 255, 0);
  position: relative;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         20px;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}
.nancy-bubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 80px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid  rgb(0, 255, 0);
  border-bottom: 13px solid transparent;
}

.nancy-welcome {
  font-size: 20px;
  font-weight: bold;
}

#entryForm {
  margin-top: 14px;
}

.main-container {
  padding-top: 10px;
  padding-left: 45px;
}

.table-container {
  /* padding-top: 15px; */
  padding-left: 15px;
  width: 85%;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.alert-danger {
  background-color: rgb(255, 127, 255);
  color: black;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 36%;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #000000;
  width: 100%;
  border-radius: 0px;
  padding-left: 30px;
  font-weight: bold;
}

#logout {
  font-weight: normal;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: rgb(0, 255, 0);
}

a {
  text-decoration: none !important;
  color: black;
}

a:visited {
  color: white;
}

/* a:hover {
  color: lawngreen;
  
} */

h1 > a {
  text-decoration: none !important;
  color: black !important;
}

h1 > a:hover {
  color: rgb(0, 255, 0) !important;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

.headercontainer {
  display: inline-flex;
  height: 170px;
}

#header-text {
  color: rgb(0, 255, 0);
  position: relative;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 10px;
  top: 32%;
}

.smile {
  color: rgb(0, 255, 0);
  position: relative;
  padding-left: 10px;
  top: 9%;
  font-size: 60px;
}

.smile-link {
  color: lawngreen !important;
}

.smile-link:hover {
  color: black !important;
}

.btn-sm {
  font-size: 14px;
  background-color: rgb(0, 255, 0);
  color: black;
}

.btn-sm:hover {
  opacity: 0.7;
}


#contactView {
  display: inline-block;
  margin-right: 30px;
}

#searchContactBar {
  display: inline-block;
}

.textbox {
  width: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  /* background-color: rgba(255, 235, 205, 0.6); */
  background-color: whitesmoke;
}

.itin {
  background-color: yellow;
}

.itinhover:hover {
  color: yellow;
}

.map:hover {
  color: black;
}

.map:visited {
  color: black;
}

.maplink {
  color: black;
}

.maplink:visited {
  color: black;
}

.map-input {
  width: 20%;
}

.con {
  background-color: rgb(255, 127, 255);
}

.conhover:hover {
  color: rgb(255, 127, 255);
}

.list {
  background-color: rgb(0, 255, 255);
}

.listhover:hover {
  color: rgb(0, 255, 255);
}

#notify {
  float: left;
  padding-right: 20px;
}

about {
  background-color: rgb(255, 127, 0);
}

.abouthover:hover {
  color:  rgb(255, 127, 0);
}

input {
  background-color: whitesmoke;
}