<div class="header" ng-controller="UserController as uc">

        <div class="headercontainer">
                <a href="#/user"><img class="nancy-header" src="./images/nancy_newer.png"></a>
                <!-- <h1><a href="#/user">NANCY</a></h1> -->
                <h4 id="header-text" ng-show="uc.userObject.userName" >hi there, {{ uc.userObject.userName }}!</h4>
                <div ng-show="!uc.userObject.userName" ></div>
                <!-- <h3>welcome, {{uc.userObject.userName || "friend"}}</h3> -->
        </div>


</div>
