<div role="navigation" class="navbar" ng-controller="UserController as uc">
    <div class="collapse navbar-collapse">
    <ul>
      <li><a class="itinhover" href="#/itineraries">Itineraries</a></li>
      <li><a class="conhover" href="#/contacts">Contacts</a></li>
      <li><a class="listhover" href="#/lists">Lists</a></li>
      <li><a class="abouthover" href="#/about-auth">About</a></li>
      <li class="logout"><a ng-click="uc.userService.logout()">Logout</a></li>
    </ul>
  </div>
</div>
