<div role="navigation" class="navbar" ng-controller="UserController as uc">
    <div class="collapse navbar-collapse">
    <ul>
<!-- 
      <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Itineraries<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/itineraries">new itinerary</a></li>
        </ul>
      </li> -->

      <li><a href="#/itineraries">Itineraries</a></li>
      <li><a href="#/contacts">Contacts</a></li>
      <li><a href="#/lists">Lists</a></li>
      <li><a href="#/about_auth">About</a></li>
      <li><a ng-click="uc.userService.logout()">Logout</a></li>
    </ul>
  </div>
</div>
