<div ng-include="'views/partials/nav2.html'"></div>
<div class="main-container">
    <h2>{{cc.contactArray.list[0].name}}'s contacts</h2>

    <h3>add a new contact</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="cc.newContact.person" placeholder="name" />
        <input type="email" ng-model="cc.newContact.email" placeholder="email" />
        <input type="number" ng-model="cc.newContact.phone" placeholder="phone" />
        <br>
        <br>
        <input class="btn-sm con" type="submit" ng-click="cc.addNewContact(cc.newContact)" value="add to contacts" />
    </form>
    <br>
    <h3 id="contactView">view your contacts</h3>
    <p id="searchContactBar">search your contacts:
        <input ng-model="contactSearch">
    </p>
    <div class="table-container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>CONTACT</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>edit / save</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in cc.contactArray.list | filter:contactSearch">
                        <td class="col-lg-2 col-md-2 col-s-2 col-xs-2">
                            <p ng-hide="contact.isEditable">{{contact.person}}</p>
                            <input class="textbox" ng-show="contact.isEditable" ng-model="contact.person">
                        </td>
                        <td class="col-lg-3 col-md-3 col-s-3 col-xs-3">
                            <p ng-hide="contact.isEditable">{{contact.email}}</p>
                            <input class="textbox" ng-show="contact.isEditable" ng-model="contact.email">
                        </td>
                        <td class="col-lg-2 col-md-2 col-s-2 col-xs-2">
                            <p ng-hide="contact.isEditable">{{contact.phone}}</p>
                            <input class="textbox" ng-show="contact.isEditable" ng-model="contact.phone">
                        </td>
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <button class="btn-sm con" ng-hide="contact.isEditable" ng-click="contact.isEditable = !contact.isEditable">edit contact</button>
                            <button class="btn-sm con" ng-show="contact.isEditable" ng-click="cc.editContact(contact)">save changes</button>
                        </td>
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <button class="btn-sm con" ng-click="cc.deleteContact(contact)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>