<div ng-include="'views/partials/nav2.html'"></div>
  <div class="main-container">
    <h2>{{cc.contactArray.list[0].name}}'s contacts</h2>

    <h3>add a new contact</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="cc.newContact.person" placeholder="name" />
        <input type="email" ng-model="cc.newContact.email" placeholder="email" />
        <input type="number" ng-model="cc.newContact.phone" placeholder="phone" />
        <br>
        <br>
        <input class="btn-sm" type="submit" ng-click="cc.addNewContact(cc.newContact)" value="add to contacts" />
    </form>
    <br>
    <h3 id="contactView">view your contacts</h3>
    <p id="searchContactBar">search your contacts: <input ng-model="contactSearch"></p>

    <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- make this a thing that actually makes sense -->
                <!-- editable fields -->
                <tr ng-repeat="contact in cc.contactArray.list | filter:contactSearch">
                    <td>{{contact.person}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.phone}}</td>
                    <td><input type="checkbox"></td>
                    <td><button class="btn-sm" ng-click="cc.deleteContact(contact)">Delete</button></td>  
                    <!-- make these buttons work           -->
                </tr>
            </tbody>
        </table>
  </div>
</div>