<div ng-include="'views/partials/nav1.html'"></div>
<div class="main-container">
    <div class="container-fluid">
            <h3 class="smile-bubble">☺</h3>
            <div class="move-bubble">
        <div class="nancy-bubble">

            <div class="nancy-welcome">
                <h2>WELCOME TO NANCY!</h2>
                <br>
                a new, easy way to organize yr tour, yr road trip, or yr dream vacation.
                <br>
                <br>
                nancy helps you track destinations,
                keep lists in order, and will send you reminders via text for upcoming itineraries.
            </div>
        </div>
        </div>
    </div>
</div>
    <!-- <img src="images/nancy_welcome-01.png" class="img-responsive" alt="nancy wassup"> -->
</div>