<div ng-include="'views/partials/nav2.html'"></div>
  <div class="main-container">
    <h2>lists</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi enim, rutrum ac dignissim eget, efficitur vitae lacus. Aliquam porttitor magna non tincidunt malesuada. Curabitur a libero vel nunc gravida sollicitudin id at libero. Vivamus et nisi ultrices, ultricies diam eget, dictum arcu. Morbi elementum feugiat est id faucibus. Ut fringilla ultrices felis, eu mollis purus ultrices vel. Nam feugiat cursus odio vel ultrices. Nullam erat sapien, porttitor eu sapien egestas, blandit varius libero.

            Cras augue nulla, tincidunt non ipsum non, bibendum ullamcorper magna. Fusce aliquam purus nec sodales mollis. Sed dolor lacus, rutrum sit amet iaculis at, imperdiet ut dolor. Maecenas at risus augue. Nulla facilisi. In interdum auctor maximus. Fusce et augue id turpis mollis pretium. Nullam accumsan hendrerit quam, ac dapibus nibh molestie vel.
        </p>
  </div>
</div>