<div ng-include="'views/partials/nav2.html'"></div>
<div class="main-container">
    <h2>{{tc.todoName.list[0].name}}</h2>

    <h3>add an item to your list</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="tc.newTodoItem.item" placeholder="item" />
        <input type="number" ng-model="tc.newTodoItem.quantity" placeholder="quantity" />
        <br>
        <br>
        <input class="btn-sm" type="submit" ng-click="tc.addNewTodoItem(tc.newTodoItem, tc.thisTodoId)" value="add to list" />
    </form>
    <br>
    <div class="table-container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>packed?</th>
                        <th>item</th>
                        <th>quantity</th>
                        <th>edit / save</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in tc.todo.list">
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <input type="checkbox" ng-model="item.is_packed" ng-click="tc.packItem(item)">
                        </td>
                        <td class="col-lg-3 col-md-3 col-s-3 col-xs-3">
                            <p ng-hide="item.isEditable">{{item.item}}</p>
                            <input class="textbox" ng-show="item.isEditable" type="text" ng-model="item.item">
                        </td>
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <p ng-hide="item.isEditable">{{item.quantity}}</p>
                            <input class="textbox" ng-show="item.isEditable" type="number" ng-model="item.quantity">
                        </td>
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <button class="btn-sm" ng-hide="item.isEditable" ng-click="item.isEditable = !item.isEditable">edit item</button>
                            <button class="btn-sm" ng-show="item.isEditable" ng-click="tc.editItem(item)">save changes</button>
                            <!-- <input type="checkbox" ng-click="item.isEditable = !item.isEditable"> -->
                        </td>
                        <td class="col-lg-1 col-md-1 col-s-1 col-xs-1">
                            <!-- <button ng-show="item.isEditable" class="btn-sm" ng-click="tc.editItem(item)">save</button> -->
                            <button ng-hide="item.isEditable" class="btn-sm" ng-click="tc.deleteItem(item)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
