<div ng-include="'views/partials/nav2.html'"></div>
  <div class="main-container">
    <h2>{{tc.todoName.list[0].name}}</h2>

    <h3>add an item to your list</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="tc.newTodoItem.item" placeholder="item" />
        <input type="number" ng-model="tc.newTodoItem.quantity" placeholder="quantity" />
        <br>
        <br>
        <input class="btn-sm" type="submit" ng-click="tc.addNewTodoItem(tc.newTodoItem, tc.thisTodoId)" value="add to list" />
    </form>
    <br>
    <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Packed?</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- make this a thing that actually makes sense -->
                <!-- editable fields -->
                <tr ng-repeat="item in tc.todo.list">
                    <td><input type="checkbox">{{item.is_packed}}</td>
                    <!-- <td>{{item.is_packed}}</td> -->
                    <td>{{item.item}}</td>
                    <td>{{item.quantity}}</td>
                    <td><input type="checkbox"></td>
                    <td><button class="btn-sm" ng-click="tc.deleteItem(item)">delete</button></td>
                </tr>
            </tbody>
        </table>

</div>