<div ng-include="'views/partials/nav2.html'"></div>
  <div class="main-container">

    {{tc}}
    <h2>lists</h2>
    <h3>create a new list</h3>
    <form novalidate class="simple-form">
        <input type="text" ng-model="tc.newTodo.name" placeholder="name your list" />
        <br>
        <br>
        <input type="submit" ng-click="tc.addNewTodo(tc.newTodo)" value="create new list" />
      </form>
      <br>
      <h3>or choose an existing list</h3>
      
      <select ng-options="todo.id as todo.name for todo in tc.todoArray.list track by todo.id" ng-model="selected">{{todo}}</select>
          <button ng-click="">choose list</button>
  </div>
</div>