<div ng-include="'views/partials/nav1.html'"></div>
<div class="main-container">
  <h2>login to your nancy account</h2>
    <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()">
      <div>
          <!-- <label for="username">Username:</label> -->
          <input type="text" ng-model="lc.user.username" placeholder="username"/>
          <!-- <label for="password">Password:</label> -->
          <input type="password" ng-model="lc.user.password" placeholder="password"/>
      </div>
      <br>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="login" /> 
          <a href="#register">Register</a>
      </div>
    </form>
</div>
